Host gh
  HostName github.com
  User git

Host coins
  HostName crocus07.coins.tsukuba.ac.jp
  User     s1311386

Host local
  HostName localhost
  Port 10022
  ForwardX11 yes

Host *
  IdentityFile ~/.ssh/id_rsa
  AddKeysToAgent yes
  ForwardAgent yes

