.secrets
*.log
node_modules
coverage

# cli
/cli/tests/tmp

# server
/server/config/settings.production.yml
/server/ui/config.js
/server/.bundle
/server/vendor
/server/db/*.sqlite3
/server/tmp/pids
/server/tmp/cache/downloads
/server/public/index.html
/server/public/app.*.js
/server/public/vendor.*.js
/server/public/documentation
!/server/public/documentation/.gitkeep

# server/static
.jekyll-metadata
_site
.sass-cache

# installer
/installer/dist

# libs/app-runtime
/libs/app-runtime/build

# linux
/linux/build
