.secrets
*.log
node_modules
coverage
/dist

# sdk
/sdk/dist
/sdk/tests/tmp
/sdk/installer/dist
/sdk/installer/builds

# runtime
/runtime/build

# supervisor
/supervisor/dist

# server
/server/config/settings.production.yml
/server/ui/config.js
/server/ui/config.json
/server/.bundle
/server/vendor
/server/db/*.sqlite3
/server/tmp/pids
/server/tmp/cache/downloads
/server/public/index.html
/server/public/app.*.js
/server/public/vendor.*.js
/server/public/documentation
!/server/public/documentation/.gitkeep

# linux
/linux/build
/linux/disk
