//
//  UI configurations. Copy this file to `config.js' and edit it.
//

/*
 *  Google reCAPTCHA site key
 *  https://developers.google.com/recaptcha/intro
 *
 */
const RECAPTCHA_SITEKEY = ''

/*
 *  vue-router mode
 *  https://router.vuejs.org/en/api/options.html#mode
 *
 */
const ROUTER_MODE = 'hash'

module.exports = {
  RECAPTCHA_SITEKEY,
  ROUTER_MODE
}
