@mixin button {
  border: none;
  border-radius: 5px;
  padding: 9px 12px;
  font-family: 'Open Sans';
  font-weight: 600;
  background: #f3f3f3;
  color: #434343;
  border-bottom: 5px solid #cacaca;
  font-size: 15px;

  i.fa {
    position: relative;
    bottom: 1px;
    padding-right: 3px;
    font-size: 16px;
  }

  &.simple {
    background: #ffffff;
    border: 1px solid #cacaca;
    padding: 7px;

    i.fa {
      padding: 0;
      margin: 0;
      bottom: 0;
    }
  }

  &:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: #f7f7f7;
  }

  &.primary {
    background: #1e9fe8;
    border-bottom-color: #1678ac;
    color: #ffffff;

    &:hover {
      background: #21afff;
    }
  }
}

button {
  @include button;
}

form {
  .field {
    &:not(first-child) {
      margin-top: 45px;
    }
  }

  .action {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

    p {
      font-weight: 600;
      line-height: 28px;
    }
  }

  label {
    font-weight: 600;
    display: block;
    margin-left: 2px;
    margin-bottom: 10px;
  }

  input {
    font-family: 'Open Sans';
  }

  input[type=text], input[type=password] {
    font-size: 18px;
    border: 3px solid #efefef;
    border-radius: 7px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }

  input[type=submit] {
    @include button;
    font-size: 22px;
  }
}
