.container {
    display: flex;
    margin-top: 30px;
}

.uk-nav {
    width: 300px;
    padding: 0px 40px;
}

.navbar {
    border-bottom: 2px #eaeaea solid;
}

.content {
    max-width: 600px;
}

h2 {
    border-top: 1px solid #cacaca;
    padding-top: 10px;
}

h3 {
    color: #4a4a4a;
    position: relative;
    left: -20px;
}

h3:before {
    content: "#";
    position: relative;
    width: 20px;
    left: -10px;
    color: #bde2ff;
}
