[Unit]
Description=FTL on QEMU/KVM hypervisor
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/ftl
ExecStart=/opt/ftl/boot.sh
Restart=on-failure

DynamicUser=yes
Group=nogroup
SupplementaryGroups=kvm

ProtectSystem=strict
ProtectHome=yes
ProtectProc=invisible
ProcSubset=pid
PrivateTmp=yes
DevicePolicy=closed
DeviceAllow=/dev/kvm rw
RestrictSUIDSGID=yes
LockPersonality=yes
NoNewPrivileges=yes
ProtectHostname=yes
ProtectKernelLogs=true
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
CapabilityBoundingSet=
ProtectControlGroups=yes
KeyringMode=private
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap
