<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MakeStack</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <style>
    body {
      color: #242a2e;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
    }

    h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 100px;
      margin: 0;
    }

    header p {
      font-weight: 100;
      font-size: 28px;
      margin-top: 7px;
      margin-bottom: 50px;
    }

    .pre-alpha {
      font-weight: 500;
      font-size: 17px;
      color: #ff3344;
      position: relative;
      top: -120px;
      left: 320px;
      transform: rotate(10deg)
    }

    header a {
      font-weight: 400;
      font-size: 16px;
      background: #444a4e;
      box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 4px;
      text-decoration: none;
    }

    a:not(:first-child) {
      margin-left: 50px;
    }

    main {
      margin-top: 50px;
    }

    main img {
      border: 1px solid #efefef;
    }

    footer {
      margin-top: 40px;
    }

    footer a {
      font-size: 15px;
      color: #6a6a6a;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <header>
    <h1>MakeStack</h1>
    <div class="pre-alpha">Pre Alpha!</div>
    <p>A "batteries-included" IoT PaaS for lazy makers.</p>
    <div>
      <a href="https://try-makestack.herokuapp.com">Try</a>
      <a href="https://github.com/seiyanuta/makestack">GitHub</a>
    </div>
  </header>

  <footer>
    <a href="https://github.com/seiyanuta/makestack">
      MakeStack is an open source project licensed under CC0/MIT.
    </a>
  </footer>
</body>
</html>
