.simple-theme {
  --bg0-color: #ffffff;
  --bg1-color: #f9f9f9;
  --bg2-color: #eaeaea;
  --fg0-color: #333333;
  --fg1-color: #6e6e6e;
  --fg2-color: #7a7a7a;
  --link-color: rgba(0, 150, 255, .90);
  --border-color: #cacaca;
  --accent-color: #33aa44;
  --colored-bg-font-color: #ffffff;
  --positive1-color: #1e9fe8;
  --positive2-color: #1b85a5;
  --negative1-color: #e60303;
  --negative2-color: #a60303;
  --shadow-color: rgba(0, 0, 0, 0.09);
}

.solarized-light-theme {
  --bg0-color: #fdf6e3;
  --bg1-color: #eee8d5;
  --bg2-color: #ded8c5;
  --fg0-color: #567b83;
  --fg1-color: #93a1a1;
  --fg2-color: #93a1a1;
  --link-color: rgba(0, 150, 255, .90);
  --border-color: #cacaca;
  --accent-color: #859900;
  --positive1-color: #268bd2;
  --positive2-color: #167bc2;
  --negative1-color: #dc322f;
  --negative2-color: #a60303;
  --colored-bg-font-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.09);
}

.monokai-theme {
  --bg0-color: #3b3a32;
  --bg1-color: #4b4a42;
  --bg2-color: #5b5a52;
  --fg0-color: #f8f8f8;
  --fg1-color: #eaeaea;
  --fg2-color: #c8c8c8;
  --link-color: rgba(0, 150, 255, .90);
  --border-color: #a6a6a6;
  --accent-color: #a6e22e;
  --positive1-color: #1b7eac;
  --positive2-color: #0b6e9c;
  --negative1-color: #f92672;
  --negative2-color: #a60303;
  --colored-bg-font-color: #f8f8f8;
  --shadow-color: rgba(255, 255, 255, 0.9);
}
